name: Deploy MkDocs

on:
  push:
    branches:
      - main  # 每次 push main 分支自动部署

permissions:
  contents: write   # 必须添加，否则无权限推 gh-pages 分支
  
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install mkdocs mkdocs-material

      - name: Build and deploy
        run: |
          mkdocs gh-deploy --force
